# Linux Kernel Module Build files
*.cmd
*.ko
*.mod
*.mod.c
*.o

# Meta Files
Module.symvers
modules.order

# Rehearsals
/rehearsals/build/*
!/rehearsals/build/.gitkeep

# PoC
/pocs/build/*
!/pocs/build/.gitkeep

# Miscellaneous files
*.code-workspace
*.log
