# Linux Kernel Module Build files
*.cmd
*.ko
*.mod
*.mod.c
*.o

# Meta Files
Module.symvers
modules.order

# Rehearsals
/rehearsals/build/*

# PoC
/pocs/build/*

# Miscellaneous files
*.code-workspace
*.log
