language: c
compiler: gcc
dist: bionic
os: linux
env:
  global:
    - MAKEFLAGS="-j $(nproc)"

install:
  - sudo apt-get update
  - sudo apt-get install make -y "linux-headers-$(uname -r)"

script:
  - make license
  - make
  - make test
  - make clean

notifications:
  email: false
